{% extends "base.html" %}
{% block title %}Registro{% endblock %}
{% block content %}
<article class="form-narrow">
  <h2>Crear cuenta</h2>
  <form method="post" novalidate>
    {{ form.hidden_tag() }}
    <label>{{ form.username.label.text }}{{ form.username(autofocus=True) }}</label>
    {% for e in form.username.errors %}<small class="err">{{ e }}</small>{% endfor %}
    <label>{{ form.email.label.text }}{{ form.email() }}</label>
    {% for e in form.email.errors %}<small class="err">{{ e }}</small>{% endfor %}
    <label>{{ form.password.label.text }}{{ form.password() }}</label>
    {% for e in form.password.errors %}<small class="err">{{ e }}</small>{% endfor %}
    <label>{{ form.confirm.label.text }}{{ form.confirm() }}</label>
    {% for e in form.confirm.errors %}<small class="err">{{ e }}</small>{% endfor %}
    {{ form.submit(class_="contrast") }}
  </form>
  <p class="muted">¿Ya tienes cuenta? <a href="{{ url_for('auth.login') }}">Entra</a>.</p>
</article>
{% endblock %}
